@charset "utf-8";

/* css reset */
* {
	font-family: 'Droid Sans', sans-serif;
	margin:0;
	padding:0;
}
/* for ie and older browsers */
header, footer, nav, aside, section, article
{
display:block;
}
body {
	background-color:#ffffff;
}
/* defines paragraph margins */
p {
	margin: 0 0 0 0;
}
em { 
    font-style: italic;
	font-size:0.8em;
}
/* defines fonts and line height for list items and paragraphs */
p, li {
	line-height: 20px;
}
/* defines header width */
#header {
	width: 1240px;
	font-weight: bold;
	background-color:#19462a;
	box-shadow:0 2px 0 #000000;
}
	/* makes links appear white and removes underline */
	#header a:link, a:visited {
		color: #FFFFFF;
		text-decoration: none;
	}
	/* Links will change to yellow when hovered over */
	#header a:hover, a:active {
		color: #FFFF00;
		text-decoration: none;
	}
/* Contains #logo, #socialMedia and the search bar */
#siteHeaderContainer {
	width:100%;
	display:flex;
	justify-content:space-between;
}
#logo {
	min-width:350px;
	padding-top:10px;
	padding-left:20px;
	background-color: #19462a;
}
#socialMedia {
	height:114px;
	position:absolute;
	float:right;
	list-style-type:none;
	padding:25px;
	background-color:#19462a;
	box-shadow:0px 2px 0px #000000;
	display:inline;
}
	#socialMedia ul {
		height:114px;
		float:right;
		list-style-type:none;
		padding:20px 20px 5px 20px;
		background-color:#19462a;
		box-shadow:0px 2px 0px #000000;
		display:inline;
	}
	#socialMedia ul li{
		float:right;
		text-decoration:none;
		color:#19462a;
	}
/* Used in the navbar jQuery script to create a sticky navigation bar */
.fixed {
	position:fixed;
	top:0;
	padding-left:0px;
	opacity:0.95;
	width:100%; /* Will always stay in the center regardless of browser width */
}
/* navigation links */
nav ul{
	text-align:center;
	padding-bottom:10px;
	padding-top:10px;
	margin-bottom:20px;
	padding-left:50px;
	position:relative;
	background-color:#19462a;
	text-decoration: none;
	box-shadow: 0px 2px 0px #000000;
}
	/* set styles for header navigation list items */
	nav ul li {
		width: 100%;
		padding:10px;
		margin: 0 25px 0 0;
		display:inline;
		text-decoration:none;
		border-radius:5px;
	}
	/*drop down options for the "Menu" section*/
	.submenu {
		left:40%;
		top:50px;
		display:none;
		width:auto;
		padding-top:10px;
		top:29px;
		margin:0 auto;
		position: absolute; 
		font-size:0.9em;
		box-shadow: 0px 0px 0px #000000;
	}
	/* Displays Dropdowns on Hover */
	nav ul li:hover > ul {
		display:block;
	}
	/* Styles specific list items on the dropdown menu */
	nav ul ul li {
		display:flex;
		flex-direction:column;
		flex-wrap:wrap;
		align-items:stretch;
		float:none;
		position: relative;
		background-color:#19462a;
		border-style:solid;
	}
	/* styles all list items on the dropdown menu */
	nav ul li ul {
		padding:0;
		margin:0 auto;
		background-color:transparent;
	}
/* Styles the link for the current page only */
.currentLink {
	background-color:#476B55;
}
/* Makes the links in the text (not in the main navbar) blue */
a.class2:link, a.class2:visited {
	color: blue;
}
/* Styles page content across all pages */
#content{
	margin: 0 auto;
	padding-top:0px;
	width:1030px;
	color:#19462a;
}
/* Styles the page content for index.html */
	#content #home {
	height:1100px;
	background-color:#F5F6CE;
	padding:20px;
	border-radius:18px;
	box-shadow: 0 0 5px #000;
	display:block;
	width:100%;
	}
		/* Main title for the web site */
		#content #home h1 {
			font-size: 2.5em;
			color: #19462a;
			text-align:center;
			padding:0px;
			padding-bottom:10px;
			width:1000px;		
		}
/* Styles the first message at the top of index.html */
.intro {
	padding:10px;
	box-shadow: 0 0 5px #000;
	border-radius:10px;
	margin-bottom:15px;
	background-color:#FFFFFF;
	text-align:left;
}
/* Styles the div holding new international sandwich range */
.promotion {
	float:left;
	display:block;
	background-color:#FFFFFF;
	min-width:50%;
	height:32%;
	text-align:center;
	box-shadow: 0 0 5px #000;
	border-radius:10px;
}
	.promotion h3 {
		font-size:1.6em;
		text-align:center;
		padding:10px;
		max-width: 480px;
		margin-top:8px;
		margin-bottom:5px;
	}
/* Styles search results */
#placeholderdiv {
	padding-top:5px;
	padding-bottom:30px;
}
.storeInfo {
	display:block;
	float:left;
	background-color:#FFFFFF;
	width:46%;
	height:149px;
	text-align:left;
	box-shadow: 0 0 5px #000;
	border-radius:10px;
	padding:10px;
	margin:0 0 15px 19px;
}
.additionalInfo {
	padding:10px;
	height:130px;
	margin-bottom:15px;
	box-shadow: 0 0 5px #000;
	border-radius:10px;
	background-color:#FFFFFF;
	text-align:left;
	clear:left;
}
	.additionalInfo h4 {
		font-size:3em;
		padding:40px;
		text-align:center;
	}
.twitter {
	float:left;
	border-radius:5px;
	background-color:#FFFFFF;
	border-radius:10px;
	display:inline-block;
	box-shadow: 0 0 5px #000;
	width:33%;
	height:400px;
	padding:10px;
}
#festiveDeals {
	float:left;
	background-color:#FFFFFF;
	background-image:url("../Images/christmas background.jpg");
	background-size: 650px 420px;
	background-repeat: no-repeat;
	display:inline-block;
	border-radius:10px;
	box-shadow: 0 0 0px #000;
	margin-left:19px;
	width:61.2%;
	height:400px;
	padding:10px;
}
	#festiveDeals h2{
		width:auto;
		margin-top:100px;
		text-align:center;
		font-size:4.2em;
		font-weight:bold;
	}
	#festiveDeals p{
		text-align:center;
		margin-top:20px;
		font-size:4.2em;
		font-weight:bold;
	}
/* set footer style centred  */
#footer {
	padding:20px;
	margin-top:20px;
	display: block; 
	text-align: center;
}
/* Styles for tablets */
@media screen and (max-width:800px) {
	/* Makes the sticky navbar fit neatly on screen for smaller devices or browser windows */
	.fixed {
		padding: 0px;
		display:flex;
		flex-direction:column;
		flex-wrap:wrap;
		align-items:stretch;
	}
	/*Makes the menu take up much less space for smaller screens */
	nav ul li {
		padding:1px;
	}
	/*ensures that the drop down sub menu stays hidden until you hover over it */
	.submenu {
		display:none;
		padding-top:10px;
		top:30px;
		box-shadow: 0 0 0px #000;
	}
	/* Re-adjusting page content so that it displays correctly for smaller devices */
	#content {
		margin-left:20%;
		display:flex;
		flex-direction:column;
		flex-wrap:wrap;
		align-items:stretch;
	}
	/*Re-adjustng footer for smaller devices */
	#footer {
		padding-left:400px;
		}
}
/* Styles for small phone screens */
@media screen and (max-width:400px) {
	/* Re-adjusting page content so that it displays correctly for smaller devices */
	#content {
		margin-left:40%;
		display:flex;
		flex-direction:column;
		flex-wrap:wrap;
		align-items:stretch;
	}
	/*Re-adjustng footer for smaller devices */
	#footer {
		padding-left:100px;
		}
}
/* Fixes problems in the header on larger screens */
@media only screen and (min-width: 1400px) {
	#header {
		width:100%;
	}
	#searchbar {
		position:absolute;
	}
	#socialMedia {
		right:0;
		float:right;
		position:absolute;
	}
}

/* Styling the search bar */

#searchbar {
	/* The main container div */
	min-width:400px;
	padding-left:100px;
	margin:auto 0;
}
#searchForm {
	/* The search form. */
	background-color:#19462a;
	padding:15px 50px 10px;
	margin:0;
	position:relative;
}
fieldset {
	border:none;
}
#searchInputContainer {
	/* This div contains the transparent search box */
	width:420px;
	height:36px;
	background:url("../Images/img/searchBox.png") no-repeat;
	float:left;
	margin-right:12px;
}
#s {
	/* The search text box. */
	border:none;
	color:#888888;
	background:url("../Images/img/searchBox.png") no-repeat;
	float:left;
	font-size:1em;
	height:36px;
	line-height:36px;
	margin-right:12px;
	outline:medium none;
	padding:0 0 0 35px;
	width:385px;
}
/* The UL that contains the search type icons */
.icons {
	list-style:none;
	margin:10px 0 0 335px;
	height:19px;
	position:relative;
}
.icons li {
	background:url("../Images/img/icons.png") no-repeat;
	float:left;
	height:19px;
	text-indent:-9999px;
	cursor:pointer;
	margin-right:5px;
}
/* Styling each icon */
li.web{ width:15px;}
li.web.active,
li.web:hover{ background-position:left bottom;}

li.images{ width:22px; background-position:-18px 0;}
li.images.active,
li.images:hover{ background-position:-18px bottom;}

li.news{ width:14px; background-position:-44px 0;}
li.news.active,
li.news:hover{ background-position:-44px bottom;}

li.videos{ width:17px; background-position:right 0;}
li.videos.active,
li.videos:hover{ background-position:right bottom;}

span.arrow {
	/* The little arrow that moves below the icons */
	width:11px;
	height:6px;
	margin:21px 0 0 5px;
	position:absolute;
	background:url('../Images/img/arrow.png') no-repeat;
	left:0;
}
/* The submit button */
#submitButton {
	background:url('../Images/img/buttons.png') no-repeat;
	width:83px;
	height:36px;
	text-indent:-9999px;
	overflow:hidden;
	text-transform:uppercase;
	border:none;
	cursor:pointer;
}
	#submitButton:hover {
		background-position:left bottom;
	}
/* The Search SandwichExpress.com / Search the Web radio buttons */
#searchInContainer{
	float:left;
	margin-top:12px;
	width:330px;
}
#searchForm label{
	color:#DDDDDD;
	cursor:pointer;
	font-size:0.65em;
	position:relative;
	right:-2px;
	top:-2px;
	margin-right:10px;
	white-space:nowrap;
	/*float:left;*/
}
input[type=radio]{
	cursor:pointer;
	/*float:left;*/
}

/* Styling the search results */
.searchbarContainer{
	/* Holds each page with search results. Has an inset bottom border. */
	border-bottom:1px solid #5e7481;
	margin-bottom:50px;
	
	/* Adding a dark bottom border with box shadow */
	
	-moz-box-shadow:0 1px 0 #798e9c;
	-webkit-box-shadow:0 1px 0 #798e9c;
	box-shadow:0 1px 0 #798e9c;
}


p.notFound{
	text-align:center;
	padding:0 0 40px;
}

/* Web & news results */
.webResult{ margin-bottom:50px;}
.webResult h2{ 
	background-color:#19462a;
	font-size:1.2em;
	font-weight:normal;
	padding:8px 20px;
	
	/* Applying CSS3 rounded corners */
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
}
.webResult h2 b{ color:#fff; }
.webResult h2 a{ color:#eee;border:none;}
.webResult p{ line-height:1.5;padding:15px 20px;}
.webResult p b{ color:#000000;}
.webResult > a{ margin-left:20px;}

/* Image & video search results */
.imageResult{
	float:left;
	height:180px;
	margin:0 0 20px 40px;
	text-align:center;
	width:152px;
	overflow:hidden;
}
.imageResult img{ display:block;border:none;}
.imageResult a.pic{
	border:1px solid #fff;
	outline:1px solid #777;
	display:block;
	margin:0 auto 15px;
}

/* The show more button */
#more{
	width:83px;
	height:24px;
	background:url('../Images/img/more.png') no-repeat;
	cursor:pointer;
	margin:40px auto;
}
	#more:hover{
		background-position:left bottom;
	}

/* The order page */

/* Order form */
#content h1, h2 {
	font-size: 2.3em;
	color: #19462a;
	text-align:center;
	padding:0px;
	padding-top:10px;
	padding-bottom:10px;
	width:1000px;
}
/* Styles page content for entire order.html page */
#order {
	height:1350px;
	background-color:#F6F7D3;
	padding:20px;
	border-radius:18px;
	box-shadow: 0 0 5px #000;
}
		#sandwichOrder p {
			padding:6px;
		}
/* Grouped similar form information */
#order fieldset {
	padding:20px;
	margin:10px;
	box-shadow: 0 0 5px #000;
	border-radius:5px;
	background-color:#FFFFFF;
}
/* The form subtitles */
#order legend {
	padding:10px;
	font-weight:bold;
	font-size:1.5em;
	box-shadow: 0 0 5px #000;
	border-radius:5px;
	background-color:#FFFFFF;
}
/* Styles the text above the input boxes (eg "Full Name", "Address Line 1") */
#order label {
	color:#19462a;
	font-size:0.9em;
	font-weight:bold;
}
/* Styles the actual box you enter information into */
#customerName, #addressOne, #addressTwo, #city, #postcode, #phone , #requests {
	width:400px;
	box-shadow:0px 1px 0px;
	border-radius:3px;
	border:1px solid;
	padding:8px;
	margin-top:4px;
}
/* Styling the drop down menu box */
#optionsMain, #optionsMain2, #optionsMain3, #optionsMain4, #optionsDrink, #optionsDrink2, #optionsDrink3, #optionsDrink4{
	width:200px;
	box-shadow:0px 1px 0px;
	border-radius:3px;
	border:1px solid;
	padding:8px;
	margin-top:4px;
	margin-right:10px;
}
/*Making the extra selection lists hidden so they can be shown onevent using js later*/
#optionsMain2, #optionsMain3, #optionsMain4, #optionsDrink2, #optionsDrink3, #optionsDrink4 {
	display:none;
}
/* Styling the submit button */
.button {
	text-align:center;
	margin:30px;
}
	button {
		box-shadow:0px 1px 1px;
		padding:10px;
		font-size:1.5em;
		font-weight:bold;
	}
	button:hover{
		background-position:left bottom;
	}
	
/*Styling the order results page*/
/*Div that contains the whole page content */
#orderResults {
	height:760px;
	background-color:#F6F7D3;
	border-radius:5px;
	box-shadow: 0 0 5px #000;
}
/*Shows the name of the customer */
#nameResult{
	margin:10px;
	text-align:center;
	padding:10px;
	font-size:1.3em;
}
/* div groups the name of the customer with the heading for that result */
#nameConfirmation {
	margin:30px 270px;
	font-size:1.3em;
	display:inline-block;
	background-color:#FFFFFF;
	border-radius:5px;
	box-shadow: 0 0 5px #000;
	width:45%;
	text-align:left;
}
#nameConfirmation h2{
	border-radius:5px;
	box-shadow: 0 0 5px #000;
	font-size:1.3em;
	margin-left:20px;
	margin:-20px 20px;
	width:70px;
	padding:10px;
	font-weight:bold;
	background-color:#FFFFFF;
}
	#orderConfirmation h2  {
		border-radius:5px;
		box-shadow: 0 0 5px #000;
		margin:-30px 20px;
		width:110px;
		padding:10px;
		font-size:1.3em;
		font-weight:bold;
		background-color:#FFFFFF;
	}
/* div groups the orders of the customer (both food and drink) with the heading for those results */
#orderConfirmation {
	width:76%;
	padding:10px;
	margin:10px 10px 10px 110px;
	display:inline-block;
	background-color:#FFFFFF;
	border-radius:5px;
	box-shadow: 0 0 5px #000;
}
/*for food orders only */
#mainResults {
	padding:10px;
	width:180px;
	margin:30px 0 10px 200px;
	display:block;
	float:left;
}
/*for drink orders only */
#drinkResults {
	padding:10px;
	width:180px;
	margin:30px 0 0 50px;
	display:block;
	float:left;
}
/*each separate result */
#mainResult, #mainResult2, #mainResult3, #mainResult4, #drinkResult, #drinkResult2, #drinkResult3, #drinkResult4 {
	padding:10px;
	margin:15px 0 0 0px;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	align-items:stretch;
}	
#deliveryConfirmation {
	width:36%;
	padding:10px;
	height:200px;
	margin:30px 10px 10px 110px;
	display:inline-block;
	float:left;
	background-color:#FFFFFF;
	border-radius:5px;
	box-shadow: 0 0 5px #000;
}
#requestConfirmation {
	width:36%;
	padding:10px;
	height:200px;
	margin:30px 10px 10px 10px;
	display:inline-block;
	float:left;
	background-color:#FFFFFF;
	border-radius:5px;
	box-shadow: 0 0 5px #000;
}
#deliveryConfirmation h2 {
	border-radius:5px;
	box-shadow: 0 0 5px #000;
	margin:-30px 20px;
	width:200px;
	padding:10px;
	font-size:1.3em;
	font-weight:bold;
	background-color:#FFFFFF;
 }
#requestConfirmation h2 {
	border-radius:5px;
	box-shadow: 0 0 5px #000;
	margin:-30px 20px;
	width:130px;
	padding:10px;
	font-size:1.3em;
	font-weight:bold;
	background-color:#FFFFFF;
}
 #deliveryResult {
	padding:10px;
	margin:100px 0 0 120px;
 }
 #requestResult {
	width:80%;
	padding:10px;
	margin:60px 0 0 20px;
 }
 
 #confirmOrder, #clearData {
	box-shadow:0px 1px 1px;
	padding:10px;
	float:left;
	margin:10px 0 0 200px;
	font-size:1.5em;
	font-weight:bold;
 }
  
/* The Contact Us page */
#contact {
	height:1000px;
	background-color:#F6F7D3;
	padding:20px;
	border-radius:18px;
	box-shadow: 0 0 5px #000;
}
	#contact h1 {
			font-size: 2.5em;
			text-align:center;
			padding:0px;
			padding-bottom:20px;
	}
#contactInfo {
	text-align:center;
	font-size:1.3em;
	padding:20px;
	width:80%;
	height:280px;
	margin: 0 auto;

}
	#contactInfo p {
	margin:0 auto;
	width:350px;
	float:left;
	display:inline;
	line-height:30px;
	padding:10px;
	margin:20px 0 20px 0;
}
#contactIcons {
	margin:10px 0 0 250px;
	display:flex;
	line-height:40px;
	flex-direction:column;
	flex-wrap:wrap;
	padding:10px;
	float:left;
}
	.contactIcon {
		padding:10px;
	}
#map-canvas {
	position:static;
	height:450px;
	width:500px;
	border-radius:5px;
	box-shadow: 0 0 5px #000;
	margin:0 auto;
	margin-top:15px;
}
#findUs {
	height:490px;
	margin:0 auto;
}
#visit {
	border-radius:10px;
	box-shadow: 0 0 5px #000;
	background-color:#FFFFFF;
	padding:10px;
}

/* Menu page */

#foodMenu, #drinkMenu, #vegMenu , #festiveMenu{
	margin-bottom:20px;
	height:460px;
	border-radius:18px;
	box-shadow:0 0 5px #000;
	background-color:#F5F6CE;
}
#vegMenu, #festiveMenu {
	height:240px;
}
/* class for each separate menu item */
.menuItem {
	position:static;
	border-radius:5px;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	float:left;
	box-shadow: 0 0 5px #000;
	background-color:#FFFFFF;
	margin:18px 0 0px 17px;
	text-align:center;
	width:18%;
}
/* contains the photo of the item and the name(in h3) */
.menuPhoto {
	position:static;
	border-radius:5px;
	padding-top:10px;
}
	.menuPhoto h3 {
		padding-top:10px;
		padding-bottom:10px;
		
	}
	#menu h1, #menu h2 {
		text-align:left;
	}
	/* contains extra text about each item that will appear on mouseover */
	/* this is positioned directly above menu photo */
	.menuHover {
		position:absolute;
		border-radius:5px;
		float:left;
		box-shadow: 0 0 5px #000;
		background-color:#FFFFFF;
		padding:10px;
		margin:0;
		width:165px;
		height:185px;
		display:none;		
	}
	/*enables the user to hover over .menuItem to make .menuHover appear */
	.menuItem:hover .menuHover {
		display:block;
	}
	.price {
		font-size:1.2em;
		font-weight:bold;
	}
	/*different font for pound sign as Droid Sans is an american webfont and doesnt support the £ sign*/
	.poundFont {
		font-family:Arial;
	}
